<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/pfp.jpg" class="img-fluid" alt="Profile Picture">
                <h2 class="section-heading">{{ site.about_heading }}</h2>
                <hr class="light">
                <p class="text-faded">{{ site.about_description }}</p>
                <a href="{{ site.resume_url }}"><button class="btn btn-default btn-lg"><i class="fa fa-file fa-lg"></i>Resume</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
